<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Сбросить пароль пользователя</title>
</head>
<body>
    <h1>Сбросить пароль для {{ user_obj.username }}</h1>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Сохранить новый пароль</button>
    </form>

    <a href="{% url 'admin_dashboard' %}">Назад в админ панель</a>
</body>
</html>
